*{
    font-family: 'Kanit', sans-serif;
}

body{
    background-image: url(./../img/back.jpg);
    background-repeat: repeat;
    background-size: 350px;
}

.main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    @include flex_absolute_center();
    .box{

        @include set_transition(all 200ms ease);
        padding: 12px; 
        width: 20vw;
        @include break_big_desktop{
            width: 20vw;
        }
        @include break_desktop{
            width: 30vw;
        }
        @include max_tablet{
            width: 40vw;
        }
        @include max_mobile{
            width: 70vw;
        }
        // background: rgba(246, 241, 146, 0.6);
        background: rgba(0, 0, 0, 0.45);
        @include border_rad(10px);
        min-height: 40px;
        .image{
            text-align: center;
            img{
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .socials{
            @include flex();
            @include flex_justify(space-around);
            margin-top: 20px;
            margin-bottom: 10px;
            a{
                width: 15%;
                img{
                    width: 100%;
                }
            }
        }
        .places{
            @include flex();
            flex-direction: column;
            position: relative;
            margin-top: 12px;
            label{
                text-align: center;
                width: 100%;
                font-size: 1.8rem;
                font-weight: 800;
            }
            a, a:hover, a:focus, a:visited{
                
                font-weight: 600;
                position: relative;
                margin: 8px auto;
                padding: 6px 8px; 
                text-decoration: none;
                width: 80%;
                background-color: #FEF000;
                color: black;
                @include flex();
                @include flex_align(center);
                @include flex_justify(center);
                @include border_rad(12px);
                font-size: 1.4rem;
                img{
                    max-height: 30px;
                    margin-right: 6px;
                }
            }
        }
    }
}